*
{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu','sans-serif';

}
.main
{
position: relative;
background: #fff;
min-height: 10vh;
flex-direction: column;
display: flex;
justify-content: center;
padding: 0px 0px;

}
.header
{
top:0;
position:absolute;
width: 100px;
padding: 10px 400px;
display: flex;
justify-content: space-between;
align-items: center;

}
.logo img
 {
width: 130px;
height: auto;
margin-right: 10px;
transition: 0.2s;
}
.logo img
{
transform: translateY(-5px);
opacity: 0.7;

}

.sci ul
{
display: flex;

}
.sci ul li 
{
    list-style: none;

}
.sci ul li a 
{
    position: relative;
    font-size: 20px;
    margin-left: 50px;
    color:#1d3557;
    text-decoration: none;
    transition: 0.2s;
}
.sci ul li a::after
{
content:"" ;
height: 3px;
bottom: -10px;
left:0;
width: 0;
position: absolute;
background: #ffb4a2;
transition: 0.4s;


}
.sci ul li a:hover::after
{
background: #e63946;
width: 100%;
}

.sci ul li a:hover
{
color:#1d3557;
transform: translateY(-10px);

}

.content
{
position: relative;
right: -250px;
top: 200px;
width: 100px;
display: flex;
justify-content: space-between;
align-items: center;

}

.content .text
{
    max-width: 10%;
    display: block;
    justify-content: center;
    align-items: center;
    
   
}
.content .text h2
{
color:#333;
font-size: 15px;
font-weight: 100;
transition: 0.2s;
position: absolute;
right: -500px;


}

.content .text h2 span
{
    font-size: 25px;
    font-weight: 100;
}

.content .text p 
{
    padding-top: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 22px;
    transition: 0.2s;
    opacity: 0.6;
    position: relative;
    right: -200px;
   
}
.btn
{
    position:relative ;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 20px;
    background: #e63946;
    border-radius: 40px;
    font-weight: 500;
    padding: 10px 25px;
    color:#f1faee;
    text-decoration:none;
    transition: 0.2s;
    position: relative;
    right: -200px;
}
.btn:hover
{
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.content text h2:hover
{
transform: translateY(-4px);

}
.resim img 
{
    width: 350px;
    transform-origin: 50% 50%;
    transition: 0.2s;
    position:absolute;
    right: -650px;
    top: 50px;
}
.resim img:hover
{
    transform: scale(1.05,1.05);

}
#hakkimizdaRSM{
	width:300px;
	height:200px;
	float:left;
	border-radius:15px;
	margin:15px;
	transition:opacity 0.8;
	
}
#hakkimizdaRSM:hover{
	opacity:0.6;
}
.hakYazi{
	margin-right:20px;
	font-size:20px;
	font-family:Cambria;
	text-indent:40px;
	color:#494949;
	
}
iframe{
	width:98%;
	height:350px;
	border-radius:10px;
	margin-top:10px;
	box-shadow:0 2px 8px 2px rgba(20,23,28,0.15);
	margin-left:10px;
}
.section1{
	width:98%;
	height:auto;
	margin:auto;
	margin-top:10px;
	background-color:#f2f2f2;
	padding:10px;
	
}
.form{
	width:49%;
	float:left;
	height:380px;
	border:1px solid #d8d8d8;
	padding:10px;
	margin-right:10px;
		
}
.col25{
	width:25%;
	float:left;
	margin-top:6px;
	
}
.col75{
	width:75%;
	float:left;
	margin-top:6px;
	
}
label{
	padding:12px 12px 12px 0;
	display:inline-block;		
}
input[type-text],textarea{
	width:100%;
	padding:12px;
	border:1px solid #ccc;
	border-radius:4px;
	
}
.row:after{
	content:"";
	clear:both;
	display:block;
		
}
input[type-submit]{
	background-color:#4CAF50;
	color:white;
	padding:12px 20px;
	border:none;
	border-radius:4px;
	float:right;
	
}
.adres{
	width:49%;
	float:left;
	height:380px;
	border:1px solid #d8d8d8;
	padding:10px;
	
		
}
h2{
	text-align:center;	
}
.span1{
	display:block;
	font-family:Calibri;
	margin:10px;
	letter-spacing:1.5px;
	text-align:center;
	font-size:16px;
		
}
footer{
    background: #e63946;
    text-align: center;
    color: #fff;
    left:0;
    bottom:0;
    width: 100%;
    height: 50px;
    position: fixed;
    
   
}
